body {
    background-color: silver;
}

#container {
    width: 800px;
    margin: auto;
    background-color: maroon;
}

header {
    padding: 40px;
    height: 10px;
    color: red;
}

nav {
    padding: 8px 40px;
    background-color: black;
    color: white;
}

article {
    padding: 40px;
    min-height : 400px;
    color: plum;
}

footer {
    padding: 40px;
    height: 40px;
    background-color : black;
    color: white;
}
